* {
	scrollbar-width: none;
}
.capitalize-first-letter::first-letter {
	text-transform: capitalize;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


.fade-in {
	animation-duration: 2s;
	animation-fill-mode: both;
	animation-name: fadeIn;
}
